$neutral-100: #dddddd;
$neutral-200: #d9d9d9;
$neutral-300: #808080;
$neutral-400: #585858;
$neutral-500: #5e6b7e;
$neutral-600: #222325;
$neutral-700: #222222;
$neutral-800: #151515;
$neutral-900: #101010;

$pink-100: #eb5be5;
$pink-200: #e87a95;
$pink-300: #362535;
$pink-400: #89eb5b0d;
$pink-500: #1d181d;
$pink-600: #1a171a;

$green-100: #89eb5b;
$green-200: #89eb5b0d;

$orange-100: #ebb15b;
$orange-200: #ebb15b0d;

$purple-100: #6f5beb;
$purple-200: #6f5beb0d;
