@use "@styles/variables" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  padding: 24px 0;

  &.visible {
    padding: 32px 0;
    background: rgba($neutral-900, 0.95);
  }

  &.openVisible {
    background: transparent;
  }
}

.container {
  display: flex;
  align-items: center;
}
